<% if product.variants.count > 0 %>
<div class='flex-item'>
  <%= link_to product_path(product) do %>
    <h2><%= product.name %></h2>
  <% end %>
  <h3><%= product.price %></h3>
  <h2><%= default_currency %></h2>
</div>
<% end %>