<h1><%= @product.name %></h1>
<h3><%= @product.price %> <%= default_currency %></h3>

<% if @product.variants.sum(:stock)>0 %>

<% if @product.variants.any? %>
  <div class='select-variant'>
    <%= render partial: 'variants/select_variant', locals: { product: @product } %>
  </div>
<% end %>

<div id='gift-message'></div>
<% else %>
  <div class='finished'>
    <h3>All products has been sold.</h3>
  </div>
<% end %>